<div class="navigation-button-holder">
    <div class="navigation-button">
        <>
    </div>
</div>
<div class="navigation-section">
    <div class="navigation-container">
        {% for navItem in site.navigation %}
            {% assign link = navItem.link | prepend: site.baseurl %}
            {% if link != page.permalink %}
                <div class="navigation-item">
                    <a href="{{ link }}"><b>{{ navItem.navItem }}</b></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
