<div class="navigation-button-holder">
    <div class="navigation-button">
        <>
    </div>
</div>
<div class="navigation-section">
    <div class="navigation-container">
        <div class="navigation-item">
            <a href="{{ '/' | prepend: site.baseurl }}"><b>home</b></a>
        </div>
        <div class="navigation-item">
            <a href="{{ '/about' | prepend: site.baseurl }}"><b>about</b></a>
        </div>
        <div class="navigation-item">
            <a href="{{ '/services' | prepend: site.baseurl }}"><b>services</b></a>
        </div>
    </div>
</div>
