body
    display: block
    position: relative
    font-family: "Raleway"
    height: 100vh
    width: 100vw
    color: $textClorMain
    text-decoration: none
    background-color: $backgroundColor
    overflow-x: hidden

    .secondary
        color: $textClorSecondary
        text-decoration: overline

    .upper
        text-transform: uppercase

    .lower
        text-transform: lowercase

    hr
        height: 1px
        background-color: $linkColor
        border: none

    ul
        list-style-type: none
        margin: 0
        padding: 0

        li
            margin-top: 1vh

            &.highlight
                background: $backgroundColorHighlight

            a
                display: block

        &.horizontal-list
            li
                display: inline-block
                margin: auto 1vw auto 1vw

    .contentCenter
        text-align: center
        margin: auto

    .contentRight
        text-align: right
        margin: auto

    .contentLeft
        text-align: left
        margin: auto

    .contentFit
        text-align: justify

    a
        color: $linkColor
        text-decoration: none
        z-index: 10

        &.secondary
            text-decoration: overline

        &:visited
            color: $linkColorExtra

        &:hover
            color: $linkColorHover
            text-decoration: none

    .underlineLinks
        a
            text-decoration: underline
            text-underline-offset: 3px

            &:hover
                text-decoration: underline

    h1, h2
        font-weight: bold

    h1
        margin-top: 10vh
