body
    display: block
    position: relative
    font-family: "Raleway"
    height: 100vh
    width: 100vw
    color: $textClorMain
    text-decoration: none
    background-color: $backgroundColor

    .secondary
        color: $textClorSecondary
        text-decoration: overline

    .upper
        text-transform: uppercase

    .lower
        text-transform: lowercase

    hr
        height: 1px
        background-color: $linkColor
        border: none

    ul
        list-style-type: none
        margin: 0
        padding: 0

        li
            margin-top: 1vh

            &.highlight
                background: $backgroundColorHighlight

            .textCentered
                display: block
                text-align: center
                margin: auto


        &.horizontal-list
            li
                display: inline-block
                margin: auto 10px auto 10px



    a
        color: $linkColor
        text-decoration: none

        &.secondary
            text-decoration: overline

        &:visited
            color: $linkColorExtra

        &:hover
            color: $linkColorHover
            text-decoration: none
