$screenWidthSmall: 750px
$screenWidthHideNavigation: 850px

$maxWidth: 750px
$maxWidthSmall: 90vw

$contentOffset: 5vh
$minContentHeight: 90vh

$backgroundColor: #c9c9c9
$backgroundColorHighlight: #b8b8b8

$textClorMain: #505e91
$textClorSecondary: #000000

$linkColor: #4c2870
$linkColorHover: #672aa3
$linkColorExtra: #000000
